/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #f4a261;
}

/* Sections */
section {
    padding: 2rem;
    text-align: center;
}

/* Home Section */
#home {
    background-color: #138308;
    color: #fff;
    
}

#home .intro h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
#home .intro h4 {
   
    margin-bottom: 20px;
}
.order-btn {
    padding: 7px 20px;
    background-color: #f4a261;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.order-btn:hover {
    background-color: #e76f51;
}
/*Restuarant Section*/
#restuarant {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#restuarant{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.rest{
    width: 100%;
    padding: 40px;
    margin: 15px;
    background-color: #f1faee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.rest img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.rest h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.rest button {
    padding: 10px;
    background-color: #2d6a4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.rest button:hover {
    background-color: #f4a261;
}

/* Menu Section */
#menu {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    width: 30%;
    padding: 20px;
    margin: 15px;
    background-color: #f1faee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.menu-item h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.menu-item button {
    padding: 10px;
    background-color: #2d6a4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.menu-item button:hover {
    background-color: #f4a261;
}

/* Cart Section */
#cart {
    background-color: #f4a261;
    color: #fff;
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart-items li {
    padding: 10px;
    background-color: #333;
    margin: 10px 0;
    border-radius: 5px;
}

#cart button {
    padding: 10px 20px;
    background-color: #2d6a4f;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
